.account-page__social-accounts {
  .segment {
    margin: 0 auto !important;
  }
}

.spotify-button {
  font-size: 13px !important;
  background-color: #2ebd59 !important;
  margin-top: 10px !important;
  margin-right: 0 !important;
  width: 190px;
  height: 41px;
  border-radius: 2px !important;
}
