.password {
  display: block;
  position: relative;

  &__input {
    display: block;
    text-transform: none;
  }

  &__show {
    background: none !important;
    position: absolute;
    bottom: 0;
    right: 5px;
  }
}
