.profile-page {
  .profile-page-rated-bands {
    .image-card {
      height: 400px;

      &__content {
        margin-top: 5px;
      }
    }

    .divider {
      margin: 5px !important;
    }

    .five-stars-rating {
      width: 155px;
      margin: 0 auto;
    }

    &__user-rating {
      text-align: center;
    }
  }

  .image-card-group {
    .band-actions {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.9) 0,
        rgba(0, 0, 0, 0) 100%
      );
      width: 250px;
      position: absolute;
      margin-top: -250px;
      height: 40px;

      .icon {
        font-size: 24px;
        color: yellow;
        float: right;
        margin-top: 10px;
        cursor: pointer;
      }
    }
  }
}
