.band-detail-page {
  &__band-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 550px;

    @include mobile {
      height: 250px;
    }
  }

  &__header {
    &__action-buttons {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    .burguer-dropdown {
      margin-top: 10px;
      .menu {
        right: 0;
        left: auto !important;
      }
    }
  }

  &__content {
    @include mobile {
      padding: 0 !important;
    }
  }

  &__discography {
    .sort-by-options {
      width: 150px;
    }

    .image-card {
      .five-stars-rating {
        width: 155px;
        margin: 0 auto;
      }

      .divider {
        margin: 5px !important;
      }
    }
  }

  &__band-members {
    margin-top: 15px;

    .image-card {
      width: 400px;
      min-height: 390px;
      margin: 5px;

      @include mobile {
        width: 100%;
      }

      &__image-wrapper {
        width: 400px;
        height: 300px;

        @include mobile {
          width: 100%;
          height: 250px;
        }
      }

      &__content {
        width: 400px;

        @include mobile {
          width: 100%;
        }
      }
    }
  }

  &__similar-bands {
    min-height: 800px;
  }

  .slider-rating {
    min-width: 150px;

    &__text {
      min-width: 130px;
      text-align: center;
    }
  }
}
