.signup-page {
  margin: $DEFAULT_MARGIN;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;

  .divider {
    color: $COLOR_WHITE;
  }

  .form {
    text-align: left;
    width: 400px;
    margin: 0 auto;

    .button {
      display: block;
      margin: 0 auto;
    }
  }

  &__to-signin {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
  }
}
