.signin-page {
  margin: $DEFAULT_MARGIN;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;

  .form {
    text-align: left;
    width: 400px;
    margin: 0 auto;

    .button {
      display: block;
      margin: 0 auto;
    }
  }

  .error-container {
    margin-top: 10px;
  }

  &__to-signup {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
  }

  &__divider {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    color: $COLOR_WHITE;
  }

  &__to-forgot-password {
    margin-top: $DEFAULT_MARGIN !important;
  }
}
