.play-buttons {
  @include mobile {
    opacity: 1 !important;
  }

  min-width: 120px;

  &__icon {
    cursor: pointer;
    font-size: 30px !important;
  }

  .spotify {
    color: #1db954;
    pointer-events: auto;
  }

  .youtube {
    color: #ff0000;
    pointer-events: auto;
  }
}
