$DEFAULT_MARGIN: 20px;
$SMALL_MARGIN: 5px;

$DEFAULT_PADDING: 20px;
$SMALL_PADDING: 5px;
$BIG_PADDING: 40px;

$DEFAULT_HEADER_SEGMENT_HEIGHT: 550px;

$HEADER_MENU_HEIGHT: 120px;

$DEFAULT_BOX_SHADOW: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
$DEFAULT_BACKGROUND_GRADIENT: linear-gradient(
  rgb(18, 18, 18),
  rgb(7, 7, 7) 85%
);

$DEFAULT_FONT_COLOR: #b6c0bf;
$COLOR_LIGHT_GRAY: #eeeeee;
$COLOR_MEDIUM_GRAY: #151515;
$COLOR_DARK_GRAY: #222222;
$COLOR_YELLOW: rgb(255, 215, 0);
$COLOR_LIGHT_BLUE: #abe2f6;
$COLOR_BLACK: #000000;
$COLOR_WHITE: #ffffff !important;

.no-padding {
  padding: 0 !important;
}

.small-padding {
  padding: $SMALL_PADDING;
}

.default-paddding {
  padding: $DEFAULT_PADDING;
}

.no-margin {
  margin: 0 !important;
}

.no-left-right {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.small-margin {
  margin: $SMALL_MARGIN !important;
}

.small-margin-top-bottom {
  margin-top: $SMALL_MARGIN !important;
  margin-bottom: $SMALL_MARGIN !important;
}

.small-margin-left {
  margin-left: $SMALL_MARGIN;
}

.default-margin-top-bottom {
  margin-top: $DEFAULT_MARGIN !important;
  margin-bottom: $DEFAULT_MARGIN !important;
}

.default-margin-left {
  margin-left: $DEFAULT_MARGIN;
}

.default-detail-page {
  min-height: 800px;
  margin-top: $DEFAULT_MARGIN;
  margin-bottom: $DEFAULT_MARGIN;
  color: $DEFAULT_FONT_COLOR;
  padding: $DEFAULT_PADDING;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.vbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hbox-raw {
  display: flex;
  flex-direction: row;
}

.hbox-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.icon {
  cursor: pointer;
}

.vertically-center-aligned {
  align-items: center;
}

.flex-child-full {
  flex: 1;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.global-rating {
  margin-right: 5px !important;
  color: $COLOR_YELLOW;
}

.yellow-text {
  color: $COLOR_YELLOW;
}

.display-inline-block {
  display: inline-block;
}

.rodal {
  .header {
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
  }
  .body {
    padding-top: 15px;
  }
  .rodal-confirm-btn,
  .rodal-cancel-btn {
    position: absolute;
    font: inherit;
    bottom: 16px;
    width: 70px;
    padding: 4px 15px;
    border-radius: 3px;
    transition: background 0.2s;
    border: 1px solid #03a9f4;
  }
  .rodal-confirm-btn {
    color: #fff;
    right: 16px;
    background: #03a9f4;
  }
  .rodal-cancel-btn {
    color: #03a9f4;
    right: 102px;
    background: #fff;
  }
}

.bold-text {
  font-weight: 700;
}

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.hide-on-mobile {
  @include mobile {
    display: none !important;
  }
}

.show-on-mobile {
  @include tablet {
    display: none !important;
  }
  @include desktop {
    display: none !important;
  }
}
