@import './constants';
@import './ribbons.scss';

@import '../shared/users/social-accounts/social-accounts.scss';
@import '../shared/ux/burguer-dropdown/burguer-dropdown.scss';
@import '../shared/ux/form/password/password-input.scss';
@import '../shared/ux/form/display-label/display-label.scss';
@import '../shared/ux/form/form.scss';
@import '../shared/ux/layout/footer/footer.scss';
@import '../shared/ux/layout/header/header.scss';
@import '../shared/ux/layout/image-card/image-card.scss';
@import '../shared/ux/messages/messages.scss';
@import '../shared/ux/play-buttons/play-buttons.scss';
@import '../shared/ux/save-for-later-button/save-for-later-button.scss';
@import '../shared/ux/ratings/ratings.scss';
@import '../shared/search/dropdown/search.scss';
@import '../shared/ux/sort/sort-by-options.scss';

@import '../components/account/account-page.scss';
@import '../components/admin/admin-page.scss';
@import '../components/albums/detail/album-detail-page.scss';
@import '../components/artists/detail/artist-detail-page.scss';
@import '../components/auth/forgot-password/forgot-password-page.scss';
@import '../components/auth/reset-password/reset-password-page.scss';
@import '../components/auth/signin/sign-in-page.scss';
@import '../components/auth/signup/sign-up-page.scss';
@import '../components/bands/detail/band-detail-page.scss';
@import '../components/home/home.scss';
@import '../components/profile/profile-page.scss';
@import '../components/activities/activities.scss';

body {
  background-color: $COLOR_MEDIUM_GRAY;
  color: $COLOR_WHITE;
}
