.burguer-dropdown {
  .menu {
    background-color: #1b1c1d !important;

    .item {
      color: #ffffff !important;
    }
  }
  .hide-drop-down-menu {
    opacity: 0 !important;
  }
  .icon {
    font-size: 2em;
  }
}
