.field {
  :disabled {
    opacity: 0.7 !important;
    cursor: not-allowed !important;
  }

  .error-container {
    color: #9f3a38;
    margin-top: 5px !important;
  }

  &.error {
    .Select {
      .Select-control {
        background: #fff6f6;
        border-color: #e0b4b4;
        color: #9f3a38;
        box-shadow: none;
      }

      input {
        border-color: transparent !important;
        background-color: transparent !important;
      }
    }
  }
}
