.account-page {
  max-width: 450px;
  min-height: 350px !important;
  margin: 0 auto;
  margin-top: 140px !important;
  margin-bottom: 140px !important;
  padding: $BIG_PADDING;

  &__menu {
    width: 295px;
    margin: auto !important;
    margin-top: $DEFAULT_MARGIN !important;

    .item {
      color: inherit !important;
    }

    .active {
      &.item {
        border-bottom-width: 3px !important;
        border-color: cornflowerblue !important;
      }
    }
  }

  &__success-message {
    text-align: center;
  }

  &__divider {
    border-color: $DEFAULT_FONT_COLOR !important;
    border-top-width: 0 !important;
    border-bottom-width: 3px !important;
    margin-top: -3px !important;
  }

  &__social-accounts {
    text-align: center;
    label {
      font-weight: 700;
    }
    &__info-text {
      margin-top: 5px;
      color: $COLOR_DARK_GRAY !important;
    }
  }
}
