.image-card-group {
  margin-top: 15px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  width: 250px;
  height: 310px;
  margin: 2.5px;
  display: flex;
  flex-direction: column;

  &__image-wrapper {
    width: 250px;
    height: 250px;
  }

  &__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top center;
    cursor: pointer;
    display: block;
  }

  &__content {
    width: 250px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
