.home-page {
  padding-top: $DEFAULT_HEADER_SEGMENT_HEIGHT + $DEFAULT_PADDING;
  padding-bottom: $DEFAULT_PADDING;

  &__header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: $DEFAULT_HEADER_SEGMENT_HEIGHT;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-image: url('https://c1.staticflickr.com/9/8445/7896968114_eb642d2732_b.jpg') !important;
    position: absolute !important;
    top: $HEADER_MENU_HEIGHT;
    left: 0;
    right: 0;
    justify-content: flex-end;

    &__grid {
      height: 80%;
      margin: 0 !important;
    }

    &__slogan {
      padding-bottom: 20px;
      padding-right: 20px;
      text-align: right;
      color: $COLOR_WHITE;
      background: linear-gradient(
        180deg,
        transparent 0,
        transparent 35%,
        rgba(0, 0, 0, 0.65)
      );
    }

    &__quotes {
      margin-right: 40px;
      margin-bottom: 10px;

      h2,
      h4 {
        text-align: right;
        font-weight: 400;
      }
    }
  }

  &__most-rated-bands {
    color: white;
    height: 350px;

    &__slider-grid {
      margin: 0 !important;
      height: 100%;

      .row {
        height: 100%;
      }
    }

    &__slider {
      width: 100%;
      height: 100%;

      &__slide {
        background-size: cover;
        background-position: top center;
        cursor: pointer;

        &:before {
          content: '';
          display: block;
          position: relative;
          height: 100%;
          background: linear-gradient(
            180deg,
            transparent 0,
            transparent 35%,
            rgba(0, 0, 0, 0.65)
          );
        }

        &__info {
          margin: 0 !important;
          margin-top: -90px !important;
          color: white;

          &__global-rating {
            color: rgb(255, 215, 0);
          }
        }
      }

      //react slick overwrites
      .slick-list {
        height: 100% !important;

        .slick-track {
          height: 100% !important;
        }
      }

      .slick-next {
        right: 10px;
      }

      .slick-prev {
        left: 10px;
        z-index: 1;
      }

      .slick-next:before,
      .slick-prev:before {
        color: white;
      }
    }
  }

  &__news-section {
    margin-top: 10px;

    &__news-list {
      color: white;
      width: 100%;
      overflow-y: auto;

      @include mobile {
        height: auto;
      }
    }
  }

  .latest-band-ratings {
    margin-top: 10px;
  }
}
