.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .activity-item {
    width: 440px;
    height: 240px;
    color: $COLOR_LIGHT_GRAY;
    padding: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;

    .image-card {
      width: 200px;
      height: 150px;
      &__image-wrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}
