.header-menu {
  color: #fff;
  background-color: #000;
  height: $HEADER_MENU_HEIGHT;

  &__user {
    background-color: transparent !important;

    .icon,
    .text {
      color: #ffffff !important;
      font-size: 16px;
    }

    .menu {
      background-color: #1b1c1d !important;
      border-radius: 0.28571429rem !important;
    }

    @include mobile {
      width: 40px;
    }
  }

  &__menu {
    border-style: none !important;

    .item {
      font-size: 20px !important;
      color: #fff !important;
    }
  }

  .dropdown {
    @include mobile {
      .menu {
        right: 0;
        left: auto !important;
      }
    }
  }

  .burguer-dropdown-container {
    @include mobile {
      margin-top: 8px;
    }

    .burguer-dropdown {
      .menu {
        right: 0;
        left: auto !important;
      }
    }
  }

  .header-logo {
    cursor: pointer;
    margin: 0;

    &__child {
      display: inline-block !important;
      margin-bottom: 0 !important;
    }

    &__image {
      z-index: 9;
    }
  }

  .global-search {
    flex: 1;
    height: 100%;
    .input {
      height: 100%;
      .prompt {
        border-radius: 0;
        border-style: none;
        background-color: #000000;
        color: #ffffff;
      }
      .icon {
        display: none;
      }
    }
  }
}
