.artist-detail-page {
  @include mobile {
    min-height: 600px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px !important;

    a,
    h3 {
      margin-right: 10px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__image {
    width: 100%;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 10px !important;

    @include mobile {
      height: 250px;
    }
  }

  &__bands-menu {
    margin-top: $DEFAULT_MARGIN !important;
    margin-bottom: $DEFAULT_MARGIN !important;
  }
}
