.album-detail-page {
  &__header {
    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;

      a,
      h3 {
        margin-right: 10px;
      }

      h3 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .play-buttons {
      @include mobile {
        margin-top: 10px;
      }
    }

    .slider-rating {
      min-width: 150px;

      &__text {
        min-width: 130px;
        text-align: center;
      }
    }
  }

  &__image {
    width: 50%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $DEFAULT_MARGIN;

    @include mobile {
      width: 100%;
      height: 250px;
      background-position: center center;
    }
  }

  &__songs-grid {
    .row:first-child {
      &:before {
        border: none;
      }
    }

    .row {
      &:before {
        position: absolute;
        content: '';
        top: 0em;
        left: 0px;
        width: calc(100% - 2rem);
        height: 1px;
        margin: 0% 1rem;
        border-top: 1px solid rgba(34, 36, 38, 0.15);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.albums-list {
  margin-top: 15px;

  &__item {
    &__info {
      max-width: 120px;
      min-width: 120px;
    }
  }

  .global-rating {
    width: 78px;
  }

  .play-buttons {
    @include mobile {
      margin-top: 10px;
    }
  }
}

.album-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  &__detail-container {
    margin-top: 5px;
  }

  .play-buttons {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0, transparent 100%);
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    margin-top: -49px;
    width: 250px;
    pointer-events: none;
    transition: all 0.5s ease 0.1s;
  }

  .spotify-devices-modal {
    .Select {
      width: 200px;
    }
  }
}
