.five-stars-rating {
  margin-left: 10px;
  text-align: center;

  div {
    span {
      padding-top: 5px;
      height: 28px;
      margin-right: 3px;

      &:before {
        height: 28px;
        padding-top: 5px;
      }
    }
  }
}

.user-ratings {
  font-size: 12px;
}

.global-rating {
  text-align: center;
  h1 {
    color: $COLOR_YELLOW;
  }
}

.slider-rating {
  padding-left: 20px;
  padding-right: 20px;
  &__text {
    margin-bottom: 5px;

    &__user-rating {
      color: $COLOR_YELLOW;
      padding-left: 10px;
      font-size: 20px;
    }
  }
  &__remove {
    .icon {
      margin-top: -3px;
      cursor: pointer;
    }
  }
}

.rc-slider-disabled {
  background: none;

  .rc-slider-track {
    background-color: $COLOR_LIGHT_BLUE;
  }

  .rc-slider-handle {
    cursor: pointer;
  }
}
