.display-label-container {
  margin-top: 5px;
  margin-bottom: 5px;

  &__label {
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #787878;
  }

  &__value {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
}
