.search {
  .ui {
    &.input {
      width: 100%;
    }
  }

  .results {
    display: table !important;
    width: 100% !important;

    .category {
      width: 100% !important;

      .name {
        background-color: #000000 !important;
        color: #ffffff !important;
      }

      .result {
        border-left: 1px solid rgba(34, 36, 38, 0.15);
      }

      .result:last-child {
        border-bottom: 1px solid rgba(34, 36, 38, 0.15) !important;
      }
    }
  }
}
