.forgot-password-page {
  margin: $DEFAULT_MARGIN;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;

  .form {
    text-align: center;
    width: 400px;
    margin: 0 auto;

    .button {
      display: block;
      margin: 0 auto;
    }
  }
}
